:root {
  /*Colors*/
  --bg-color: #ffffff;
  --bg-footer: #687da8;

  --bg-nav: #b98fb3;

  /*Panels #1*/
  --bg-p-x1: #bf7eff;
  --bg-p-x2: #febf8b;
  --bg-p-x3: #dfacd5;
  --bg-p-x4: #cbe7ee;
  --bg-p-x5: #e4c8ff;
  --bg-p-x6: #ff7e7e;
  --bg-p-x7: #a3c7e2;

  /*Panels #2*/
  --bg-big-p-x1: #f1c2ec;
  --bg-big-p-xx2: #1e1e1e;

  /*Panels #3*/
  --bg-p-end-x1: #e8fbff;
  --bg-p-end-x2: #ffecfd;

  /*Buttons/Hovers*/
  --button-color-x1: #000;
  --button-h-color-x1: #fff;
  --button-color-x2: #fff;
  --button-h-color-x2: #000;
  --text-color-button: #fff;
  --text-color-button: #000;

  --text-color-x1: #fff;
  --texct-color-x2: #000;
  --text-color-x3: #6b4b7c;

  /*Fonts*/
  --p-font: "Inter", sans-serif;
}
/* GLobal */
/* apply a natural box layout model to all elements, but allowing the components to change, also applied the size from rem to px */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Custom HTML */
body {
  font-size: 1.6rem; /* 1 rem = 10px */
  background-color: var(--bg-color);
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-color);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--bg-color);
  font-family: var(--p-font);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
/* uwu */
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
}

/* Header Nav */
.header__nav {
  padding-top: 20px;
  flex-grow: 1;
  text-align: center;
}

.header__nav a {
  text-decoration: none;
  color: var(--text-color-x1);
  padding: 0 10px;
  font-weight: 450;
}

.header__nav .nav__a--c,
.header__nav .nav__a:hover {
  color: var(--text-color-x3);
}

/* Header Hero*/
.section__hero {
  background-image: url(/img/hero_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 653px;
  overflow: hidden;
}

/* Main p*/

.main__p {
  color: var(--bg-big-p-xx2);
  text-align: center;
}
/* Grid*/

.grid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    margin: 1rem 10rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* product's */

.product {
  background-color: var(--bg-p-x1);
}
.product__img {
  width: 100%;
}

.product__price {
  font-size: 2.8rem;
  color: var(--text-color-x1);
}
.product__name {
  font-size: 4rem;
  font-weight: 400;
}

.product__name,
.product__price {
  font-family: var(--p-font);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

.product__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.product__p{
  font-family:"Inter", sans-serif;
  font-weight: 300;
}
/*graphic*/

.graphic {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/ 3;
}

.graphic--chr1 {
  grid-row: 1 / 2;
  background-color: var(--bg-p-x1);
  background-image: url(../img/Characters/Two_Char2.png);
  background-size: 50rem 50rem;
}

.graphic--chr2 {
  background-color: var(--bg-p-x7);
  background-image: url(../img/Characters/Two_Char3.png);
  grid-row: 3 / 4;
  background-size: 44rem 44rem;
}

@media (min-width: 768px) {
  .graphic--chr2 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }
}

/* Footer */

.footer {
  background-color: var(--bg-footer);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__p {
  font-family: var(--p-font);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  width: 400px;
  margin: 10px;
  border: 1px solid #ccc;
}

.footer__svg {
  max-width: 30px;
}

/* END INDEX*/
