:root {
  /*Colors*/
  --bg-color: #ffffff;
  --bg-footer: #687da8;
  
  /*Panels #1*/
  --bg-p-x1: #bf7eff;
  --bg-p-x2: #febf8b;
  --bg-p-x3: #dfacd5;
  --bg-p-x4: #cbe7ee;
  --bg-p-x5: #e4c8ff;
  --bg-p-x6: #ff7e7e;
  --bg-p-x7: #a3c7e2;

  /*Panels #2*/
  --bg-big-p-x1: #f1c2ec;
  --bg-big-p-xx2: #1e1e1e;

  /*Panels #3*/
  --bg-p-end-x1: #e8fbff;
  --bg-p-end-x2: #ffecfd;

  /*Buttons/Hovers*/
  --button-color-x1: #000;
  --button-h-color-x1: #fff;
  --button-color-x2: #fff;
  --button-h-color-x2: #000;
  --text-color-button: #fff;
  --text-color-button: #000;

  --text-color: #fff;

  /*Fonts*/
  --p-font: "Staatliches", cursive;
}
/* GLobal */
/* apply a natural box layout model to all elements, but allowing the components to change, also applied the size from rem to px */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Custom HTML */
body {
  font-size: 1.6rem; /* 1 rem = 10px */
  background-color: var(--bg-color);
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-color);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--bg-color);
  font-family: var(--p-font);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
/* uwu */
